(
  resources: {},
  entities: {
    8589934753: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("4d74dcfd-e361-4715-8630-8a74aa95817a"),
            Pin("b68be7ae-b563-4332-a8fe-375aca71707d"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    8589934759: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("e67b100c-0224-41a2-b182-a43ec0396b4c"),
            Pin("02bf8603-0196-4869-98ba-ccfc3fd48415"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    8589934782: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("db05c26a-7156-41a9-94cd-8922368267be"),
            Joint(4294967419),
            Joint(4294967420),
            Pin("e38b00bd-52da-4caf-b7bd-52a1a1d4d227"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    8589934783: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinaryDisplay": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Input,
            label: "Q",
            uuid: "46390324-bb6b-4305-a262-9bd5ce069ea0",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -262.99994,
          y: -148.22705,
        )),
      },
    ),
    12884901918: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("db05c26a-7156-41a9-94cd-8922368267be"),
            Joint(4294967423),
            Joint(4294967424),
            Pin("477459db-e77d-47b8-ba4a-74f84821f9a9"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884901934: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinaryDisplay": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "Q",
            uuid: "452a104b-c9d1-4ff3-a9a8-7e230986934c",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -308.9999,
          y: -148.22705,
        )),
      },
    ),
    12884901992: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("9ca2a623-127d-4f9c-abba-35b1fda72e3b"),
            Pin("90a2adcb-d5da-43b5-9a39-35457bfa8a36"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884901995: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("3eb8276b-e6fd-4bbf-8326-841411a5ccdb"),
            Joint(4294967482),
            Joint(4294967483),
            Pin("452a104b-c9d1-4ff3-a9a8-7e230986934c"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884901996: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("c7ec4c85-05c0-4ebb-87bd-b22bbbae3ef4"),
            Joint(4294967474),
            Joint(4294967475),
            Pin("1fe75514-8666-4c8f-9afe-b254eeb1d2f0"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884901997: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("b886ddee-976b-43b9-b656-981e5ec27baa"),
            Pin("e67b100c-0224-41a2-b182-a43ec0396b4c"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884902006: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "JK-FF",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "K",
            uuid: "02bf8603-0196-4869-98ba-ccfc3fd48415",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "C",
            uuid: "e47b47d9-7aa6-4de9-9b73-8a8fba219511",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "J",
            uuid: "e67b100c-0224-41a2-b182-a43ec0396b4c",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "3eb8276b-e6fd-4bbf-8326-841411a5ccdb",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: 239.00002,
          y: 171.00012,
        )),
      },
    ),
    12884902007: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "JK-FF",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Input,
            label: "K",
            uuid: "5611c1a3-b341-4cf1-a4e6-48ecbf4e9797",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "C",
            uuid: "963cd038-65bb-405f-bad6-f1d26aac08a4",
          ),
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Input,
            label: "J",
            uuid: "03f037c8-1a03-403e-8de9-505b1c933864",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "4d74dcfd-e361-4715-8630-8a74aa95817a",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -523.0,
          y: 168.00005,
        )),
      },
    ),
    12884902008: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "JK-FF",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "K",
            uuid: "1adb6fc0-4138-47e3-bb15-70df013f5ab9",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "C",
            uuid: "477459db-e77d-47b8-ba4a-74f84821f9a9",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "J",
            uuid: "34ce83dd-4877-40b8-ac6e-bb965350b3df",
          ),
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "31a3f710-c4c0-4ac5-b34f-a54acd646156",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -33.000076,
          y: 171.00006,
        )),
      },
    ),
    12884902035: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("c7ec4c85-05c0-4ebb-87bd-b22bbbae3ef4"),
            Pin("2d3e2075-ebb2-45f7-99a0-b2e87cf1c7b0"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884902040: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("b68be7ae-b563-4332-a8fe-375aca71707d"),
            Pin("c9efc9b1-7cf2-42a3-90ab-6da104a2fdc9"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884902042: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinaryDisplay": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "Q",
            uuid: "a61fa37a-07cf-4754-b1a3-e99b10522e99",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -160.0,
          y: -148.22708,
        )),
      },
    ),
    12884902064: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::clock::Clock": (
          timer: (
            stopwatch: (
              elapsed: (
                secs: 0,
                nanos: 194123498,
              ),
              paused: false,
            ),
            duration: (
              secs: 0,
              nanos: 200000003,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "db05c26a-7156-41a9-94cd-8922368267be",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -696.0,
          y: 17.999985,
        )),
      },
    ),
    12884902065: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("34ce83dd-4877-40b8-ac6e-bb965350b3df"),
            Pin("1adb6fc0-4138-47e3-bb15-70df013f5ab9"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884902072: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("7291d849-0bf0-4f39-ac1a-01661795def1"),
            Pin("03f037c8-1a03-403e-8de9-505b1c933864"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: High,
          signal: High,
          next_signals: [],
        ),
      },
    ),
    12884902073: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("4d74dcfd-e361-4715-8630-8a74aa95817a"),
            Joint(17179869357),
            Joint(4294967471),
            Pin("a61fa37a-07cf-4754-b1a3-e99b10522e99"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884902076: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "JK-FF",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "K",
            uuid: "c9efc9b1-7cf2-42a3-90ab-6da104a2fdc9",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "C",
            uuid: "e38b00bd-52da-4caf-b7bd-52a1a1d4d227",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "J",
            uuid: "b68be7ae-b563-4332-a8fe-375aca71707d",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "c7ec4c85-05c0-4ebb-87bd-b22bbbae3ef4",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -302.0,
          y: 169.00003,
        )),
      },
    ),
    12884902077: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("03f037c8-1a03-403e-8de9-505b1c933864"),
            Pin("5611c1a3-b341-4cf1-a4e6-48ecbf4e9797"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: High,
          signal: High,
          next_signals: [],
        ),
      },
    ),
    12884902080: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "B",
            uuid: "2d3e2075-ebb2-45f7-99a0-b2e87cf1c7b0",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "ae1294bc-6177-4517-9850-0537e6997670",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "9ca2a623-127d-4f9c-abba-35b1fda72e3b",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -165.00002,
          y: 215.99997,
        )),
      },
    ),
    12884902081: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("db05c26a-7156-41a9-94cd-8922368267be"),
            Joint(4294967427),
            Joint(4294967428),
            Pin("963cd038-65bb-405f-bad6-f1d26aac08a4"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    17179869295: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("31a3f710-c4c0-4ac5-b34f-a54acd646156"),
            Pin("60458096-b270-4aeb-bb32-7d66efacf42a"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: High,
          signal: High,
          next_signals: [],
        ),
      },
    ),
    17179869299: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Input,
            label: "B",
            uuid: "60458096-b270-4aeb-bb32-7d66efacf42a",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "90a2adcb-d5da-43b5-9a39-35457bfa8a36",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "b886ddee-976b-43b9-b656-981e5ec27baa",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: 105.99997,
          y: 222.99998,
        )),
      },
    ),
    17179869317: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("9ca2a623-127d-4f9c-abba-35b1fda72e3b"),
            Pin("34ce83dd-4877-40b8-ac6e-bb965350b3df"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    17179869321: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("4d74dcfd-e361-4715-8630-8a74aa95817a"),
            Joint(4294967439),
            Pin("ae1294bc-6177-4517-9850-0537e6997670"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    17179869365: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("db05c26a-7156-41a9-94cd-8922368267be"),
            Joint(4294967431),
            Joint(4294967432),
            Pin("e47b47d9-7aa6-4de9-9b73-8a8fba219511"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    21474836660: (
      components: {
        "logics::designer::wire::Wire": (
          nodes: [
            Pin("31a3f710-c4c0-4ac5-b34f-a54acd646156"),
            Joint(4294967478),
            Joint(4294967479),
            Pin("46390324-bb6b-4305-a262-9bd5ce069ea0"),
          ],
        ),
        "logics::designer::signal_state::SignalState": (
          previous_signal: High,
          signal: High,
          next_signals: [],
        ),
      },
    ),
    25769803948: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinaryDisplay": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "Q",
            uuid: "1fe75514-8666-4c8f-9afe-b254eeb1d2f0",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -209.99997,
          y: -148.22705,
        )),
      },
    ),
    30064771172: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinarySwitch": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "7291d849-0bf0-4f39-ac1a-01661795def1",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -676.00006,
          y: 194.00002,
        )),
      },
    ),
  },
)