(
  resources: {},
  entities: {
    8589934620: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::wire::Wire": (
          src_pin_uuid: Some("ee46571a-3b97-47b7-9acd-f101d969f507"),
          dest_pin_uuid: Some("86ab970c-c06c-4091-a991-34ac1f4f4521"),
        ),
        "logics::designer::signal_state::SignalState": Low,
      },
    ),
  },
)