(
  resources: {},
  entities: {
    4294967322: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Input,
            label: "B",
            uuid: "301add8f-392d-46f5-909f-6bd8de0f01a4",
          ),
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Input,
            label: "A",
            uuid: "a9bbcc00-e686-4e4e-a77f-5ddbcb1c8bb7",
          ),
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Output,
            label: "Q",
            uuid: "b579b9b5-a024-4b92-a7d9-1b33d045e5f1",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -146.0,
          y: 26.999973,
        )),
      },
    ),
    4294967334: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Input,
            label: "B",
            uuid: "b885281f-afd5-412d-bd08-1b30e7a69331",
          ),
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Input,
            label: "A",
            uuid: "0fa372fa-2517-4628-bb3d-69a5bdb81e6d",
          ),
          (
            previous_signal_state: Low,
            signal_state: Low,
            next_signal_state: Low,
            pin_type: Output,
            label: "Q",
            uuid: "bfe2b1d2-5a72-4e52-bb00-3c4504ce1e05",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: 5.000061,
          y: 29.000004,
        )),
      },
    ),
    4294967345: (
      components: {
        "logics::designer::wire::Wire": (
          src_pin_uuid: Some("b579b9b5-a024-4b92-a7d9-1b33d045e5f1"),
          dest_pin_uuid: Some("0fa372fa-2517-4628-bb3d-69a5bdb81e6d"),
          wire_points: [
            4294967346,
          ],
        ),
        "logics::designer::signal_state::SignalState": Low,
      },
    ),
    4294967348: (
      components: {
        "logics::designer::wire::Wire": (
          src_pin_uuid: Some("b579b9b5-a024-4b92-a7d9-1b33d045e5f1"),
          dest_pin_uuid: Some("b885281f-afd5-412d-bd08-1b30e7a69331"),
          wire_points: [
            4294967349,
          ],
        ),
        "logics::designer::signal_state::SignalState": Low,
      },
    ),
  },
)