(
  resources: {},
  entities: {
    4294967351: (
      components: {
        "logics::designer::position::Position": ((
          x: 145.99998,
          y: 71.16552,
        )),
        "logics::designer::model::ModelId": ("ea46cbc7-b0ed-45ed-841d-65cf18c945f2"),
        "logics::designer::wire::wire_joint::WireJointModel": (),
        "logics::designer::signal::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    12884901925: (
      components: {
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "B",
            uuid: "e4e818ac-f34f-4d85-a3c5-be9c9028f46a",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "4adb5f74-66d2-4226-8819-2e03829aa3be",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "41c690c2-72b8-424e-937b-fa715c295d5c",
          ),
        ]),
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::position::Position": ((
          x: 260.0,
          y: 62.000008,
        )),
        "logics::designer::model::ModelId": ("2dcb70d6-bc2f-4d04-8569-199fa2f8bc21"),
      },
    ),
    12884901926: (
      components: {
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "B",
            uuid: "0c4072ce-f7fc-4cae-83fd-f344d7f59066",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "c6fb34fd-0fb1-4abb-a68c-0df6fc030771",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "c260138f-2a28-4439-a736-c9ddc2645db2",
          ),
        ]),
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::position::Position": ((
          x: 40.999985,
          y: 65.00001,
        )),
        "logics::designer::model::ModelId": ("860060e2-1f80-4874-9ba2-aaecd523c60b"),
      },
    ),
    12884901940: (
      components: {
        "logics::designer::wire::WireModel": (),
        "logics::designer::wire::WireNodes": ([
          Pin("c260138f-2a28-4439-a736-c9ddc2645db2"),
          Joint("ea46cbc7-b0ed-45ed-841d-65cf18c945f2"),
          Pin("4adb5f74-66d2-4226-8819-2e03829aa3be"),
        ]),
        "logics::designer::position::Position": ((
          x: 0.0,
          y: 0.0,
        )),
        "logics::designer::model::ModelId": ("4415099a-cf23-42bb-b4b5-e9aac1dabce1"),
        "logics::designer::signal::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
  },
)