(
  resources: {},
  entities: {
    4294967322: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "AND-2",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "B",
            uuid: "ca6fed9f-7fdb-4eae-bc36-f52ba3a182fd",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "e96ca7f3-dd30-4234-a984-fb0fd3728a21",
          ),
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "1f0d8cf2-e48f-4584-8d50-87170627f4fb",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -107.00001,
          y: -4.00001,
        )),
        "logics::designer::model::ModelId": ("57158cdc-75ae-4a91-b033-acdb721cfe2b"),
      },
    ),
    4294967334: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::generic_chip::GenericChip": (
          name: "NOT",
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Input,
            label: "A",
            uuid: "79f4d21f-9547-423c-893e-9e3beb3c3034",
          ),
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "5fcb6450-ff60-4c49-9f27-35d96237119f",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: 56.00006,
          y: -2.9999754,
        )),
        "logics::designer::model::ModelId": ("319f69c6-f8e5-4199-bf7e-e9fe861069a3"),
      },
    ),
    4294967344: (
      components: {
        "logics::designer::position::Position": ((
          x: 41.99997,
          y: -0.99999183,
        )),
        "logics::designer::model::ModelId": ("27c6e683-7e8c-43d9-9154-00adf27f75f3"),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    4294967352: (
      components: {
        "logics::designer::wire::WireModel": (),
        "logics::designer::position::Position": ((
          x: 0.0,
          y: 0.0,
        )),
        "logics::designer::wire::WireNodes": ([
          Pin("5fcb6450-ff60-4c49-9f27-35d96237119f"),
          Pin("d3ae2508-4ad5-4ebf-8539-309965569aba"),
        ]),
        "logics::designer::model::ModelId": ("c7940a42-2d08-4299-bb5a-c3ad4e3cf341"),
        "logics::designer::signal_state::SignalState": (
          previous_signal: High,
          signal: High,
          next_signals: [],
        ),
      },
    ),
    4294967361: (
      components: {
        "logics::designer::wire::WireModel": (),
        "logics::designer::position::Position": ((
          x: 0.0,
          y: 0.0,
        )),
        "logics::designer::wire::WireNodes": ([
          Pin("63334a6b-c953-425a-8c70-4fa1fa0e124a"),
          Pin("e96ca7f3-dd30-4234-a984-fb0fd3728a21"),
        ]),
        "logics::designer::model::ModelId": ("1ce6bdd1-e851-4966-8c9a-2ef5ef0039af"),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    4294967369: (
      components: {
        "logics::designer::wire::WireModel": (),
        "logics::designer::position::Position": ((
          x: 0.0,
          y: 0.0,
        )),
        "logics::designer::wire::WireNodes": ([
          Pin("fe3cf7de-3b63-41e1-b933-50a299f3b150"),
          Pin("ca6fed9f-7fdb-4eae-bc36-f52ba3a182fd"),
        ]),
        "logics::designer::model::ModelId": ("efa09fb1-ebe3-4e53-980d-23d6ce282faa"),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    8589934651: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinarySwitch": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "63334a6b-c953-425a-8c70-4fa1fa0e124a",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -285.0,
          y: 10.000025,
        )),
        "logics::designer::model::ModelId": ("a7f58d68-57a0-4741-9243-4a6ba62a7c0c"),
      },
    ),
    8589934660: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::clock::Clock": (
          timer: (
            stopwatch: (
              elapsed: (
                secs: 0,
                nanos: 114653132,
              ),
              paused: false,
            ),
            duration: (
              secs: 0,
              nanos: 200000003,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: Low,
              signal: Low,
              next_signals: [],
            ),
            pin_type: Output,
            label: "Q",
            uuid: "fe3cf7de-3b63-41e1-b933-50a299f3b150",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: -224.0,
          y: -15.999997,
        )),
        "logics::designer::model::ModelId": ("002e27be-4aef-4893-aa06-d95503d34e02"),
      },
    ),
    17179869230: (
      components: {
        "logics::designer::wire::WireModel": (),
        "logics::designer::position::Position": ((
          x: 0.0,
          y: 0.0,
        )),
        "logics::designer::wire::WireNodes": ([
          Pin("1f0d8cf2-e48f-4584-8d50-87170627f4fb"),
          Pin("79f4d21f-9547-423c-893e-9e3beb3c3034"),
        ]),
        "logics::designer::model::ModelId": ("a5f752ef-7eb3-40d1-8be1-71f968b3708d"),
        "logics::designer::signal_state::SignalState": (
          previous_signal: Low,
          signal: Low,
          next_signals: [],
        ),
      },
    ),
    17179869234: (
      components: {
        "logics::designer::devices::device::DeviceModel": (),
        "logics::designer::devices::binary_io::BinaryDisplay": (),
        "logics::designer::pin::PinModelCollection": ([
          (
            signal_state: (
              previous_signal: High,
              signal: High,
              next_signals: [],
            ),
            pin_type: Input,
            label: "Q",
            uuid: "d3ae2508-4ad5-4ebf-8539-309965569aba",
          ),
        ]),
        "logics::designer::position::Position": ((
          x: 160.0,
          y: -4.00001,
        )),
        "logics::designer::model::ModelId": ("f55e1785-200c-4ada-aaee-318651ff29db"),
      },
    ),
  },
)